body {
    text-align: center;
    background-color:aquamarine;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    font-family: 'Exo 2', sans-serif;
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

form#sizePicker{
    font-family: 'Exo 2';
    margin-top: 2rem;
}

input{
    border-radius: 3px;
    border: none;
}
